* {
  margin: 0;
  padding: 0;
  line-height: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}

#root {
  width: 850px;
  margin: 0 auto;
  background-color: #fff;
}

.city {
  align-items: center;
  padding: 15px 10px 0;
  font-size: 24px;
  text-align: left;
  color: #1875f0;
}

.weatherForm {
  display: flex;
  margin-top: 20px;
  padding: 0 10px;

  button {
    width: 50px;
    margin-left: 10px;
    border-radius: 4px;
  }
}

.weatherFormInput {
  width: 100%;
  height: 20px;
  border: 1px solid black;
  border-radius: 4px;
}

.calendar {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #f4f4f4;
  list-style-type: none;

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    box-shadow: 0 1px 7px rgb(0 0 0 / 10%);
    content: '';
  }

  &Item {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
  }

  &Day {
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1875f0;
  }

  &Header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40px;

    &Month {
      font-weight: 600;
    }
  }
}

.activeDate {
  background: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 8%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.pureData {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  list-style-type: none;

  &Item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e0e0e0;
      box-shadow: 0 1px 7px rgb(0 0 0 / 40%);
      content: '';
    }
  }

  &Temp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 50px;

    &Degree {
      font-weight: 400;
    }
  }

  &Descr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 50px;

    &Icon {
      width: 60px;
      height: 60px;
    }
  }

  &Wind {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 50px;
  }

  &Pressure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 50px;
  }

  &Humidity {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 50px;
  }
}